

.text-one { 

    background-color:#d6a5d2; font-size: 36px;
    font-family: DejaVu, Verdana, Geneva, Tahoma, sans-serif;

}


#text-two {

    color:blue;
    font-size: 24px;
    
}

.text-three { 

  background-color:#d6a5d2; font-size: 24px;
  font-family: DejaVu, Verdana, Geneva, Tahoma, sans-serif;
  
}

#text-four { 

    background-color:#82c482; font-size: 36px
    font-family: DejaVu, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px

}


.text-five { 

background-color:#d6a5d2; 


}



