

.text-zero { 

    background-color:#d6a5d2

}


#text-one {

    color:#d6a5d2;
    font-family: DejaVu, Verdana, Geneva, Tahoma, sans-serif;
    
}

.text-two { 

  color:blue; font-size: 36px;

}

#text-three { 

    color:#d6a5d2; 
    font-family: DejaVu, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px

}


.text-four { 

    background-color:#afa8af

}



